<h1>OrderBob</h1>

<div>
  <h3>Create a new customer:</h3>
  {{input value=firstName placeholder="First Name"}}
  {{input value=lastName placeholder="Last Name"}}
  <button {{action 'createUser'}}>Create</button>
</div>

<div>
  <h3>Your customers:</h3>
  <ul>
    {{#each model as |user|}}
      <li>
        {{user.id}} -
        {{user.firstName}} {{user.lastName}} -
        {{#link-to 'user' user.id}}View Orders{{/link-to}} -
        <button {{action "deleteUser" user.id}}>Delete User</button>
      </li>
    {{/each}}
  </ul>
</div>


{{outlet}}
